extends ../base

block content
    form(method="POST")
        input(placeholder="Old Password", name="oldPassword")
        input(placeholder="New Password", name="newPassowrd")
        input(placeholder="New Password Confirmation", name="newPasswordConfirmation")
        input(type="submit", value="Change Password")